

body{  font-family:'Tajawal', sans-serif;background-color: var(--bg) }
a{color: inherit; font-weight: bold; text-decoration: none !important; }
html{background-color: var(--bg);}
*{
    padding: 0;
    margin: 0;
}

