:root {
    --primary: #8b0031;
    --secondary: #597e5b;
    --text: #332d2d;
    --bg: rgba(255, 255, 255, 0.685);
    --shadow: rgba(0, 0, 0, 0.15);



}

// :root:has(.dark) {
//     --primary: #597e5b;
//     --secondary: #ffd12e;
//     --text: #ffffff;
//     --bg: #332d2d;
//     --shadow: #332d2d;



// }